body{
    margin:0px;
    margin-top: -27px;
    background-color: hwb(188 88% 0%);   
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(images/donation.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    filter: none;
}
header h1{
    padding: 18rem;
    font-size: 40px;
    color: rgb(243, 236, 46);
}
header h2{
    margin-top: -15rem;
    margin-left: 18rem;
    color: rgb(84, 254, 115);
}
header ul{
    color: rgb(167, 244, 248);
    margin-left: 18rem;
    font-size: 20px;
}
.section-1{
    align-items: center;
}
.center{
    text-align: center;
}
fieldset{
    margin: 5rem 20rem;
    background-color: darkkhaki;
    color: rgb(44, 39, 31);
    border: 5px solid rgb(104, 87, 91);
}
legend{
    color: rgb(18, 100, 17);
    font-weight: 1000;
}
.section-2{
    align-items: center;
    text-align: center;
}
.container{
    margin-left: 43rem;
    margin-right: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards{
    padding: 0 5px;
    background-color: rgb(255, 225, 148);
    border: 1px solid rgb(78, 52, 8);
    margin-left: 4px;
    width: 3rem;
    align-items: center;
    text-align: center;
    padding:2rem;
    font-weight: 900;
    color: rgba(0, 114, 243, 0.998);
    display: block;
    position: relative;
}
.cards span{
    position: relative;
    z-index: 2;
} 
.cards:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #04ff00;
    transition: all .35s;
}
  
.cards:hover{
    color: rgb(0, 0, 0);
}
  
.cards:hover:after{
    width: 100%;
}